.footInfo p {
    margin: 0;
}

.footInfo p::after {
    content: '|';
    margin: 0 5px;
}

.footInfo p:last-child::after {
    content: none;
}

.footEmblem p {
    display: inline-block;
    margin : 0 10px;
}

.footEmblem img {
    height: 37px;
    width: 100%;
}
