h1,h2 {
    cursor: pointer;
}

/* swiper */
.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  padding: 15px 5px;
  opacity: 0.8;
  border: 0.5px solid #000;
  border-radius: 13px;
  color: black !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}

/* headers */
.navBar_inner .col,
.menu_inner .col {
    cursor: pointer;
}

/* footers */
.footNav_inner .col{
    cursor: pointer;
}

.footInfo p {
    margin: 0;
}

.footInfo p::after {
    content: '|';
    margin: 0 5px;
}

.footInfo p:last-child::after {
    content: none;
}

.footEmblem p {
    display: inline-block;
    margin: 0 10px;
}

.footEmblem img {
    height: 37px;
    width: 100%;
}

/* main-Latest */
.music {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.music_image {
    position: relative;
    cursor: pointer;
}

.music_image img {
    max-width: 100%;
    height: auto;
    display: block;
    z-index: 1; /* 이미지를 위로 올림 */
}

.music_image::before {
    content: ''; /* 가상 요소를 생성하여 그림자를 표현 */
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 100px; /* 그림자의 높이를 조절 */
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.9); /* 그림자의 크기를 키움 */
    z-index: 0; /* 그림자를 이미지 아래로 내림 */
}

.music_image:hover::before {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.99); /* :hover 상태에서 그림자의 크기와 색상 변경 */
}


.music_artist {
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}


/* main-Editor */
.recommendCover {
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 147px;
    overflow: hidden;
    background-color: skyblue;
}

.recommendImage {
    overflow: hidden;
    position: absolute;
    top: 30px;
    width: 88px;
    height: 88px;
}

.recommendImage::before {
    content: '';
    display: block;
    position: absolute;
}

.recommendImage img {
    width: 100%;
}

.recommendImage.recommendImage-main {
    top: 20px;
    left: 58px;
    width: 108px;
    height: 108px;
    z-index: 10;
}

.recommendImage.recommendImage-left {
    left: -30px;
}

.recommendImage.recommendImage-right {
    right: -30px
}

.recommendBody > * {
    cursor: pointer;
}